/*==================== 
    Measurements
====================*/

/*===== Spacing =====*/
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 0.75rem; // 12px
$spacing-lg: 1rem; // 16px
$spacing-xl: 1.5rem; // 24px
$spacing-2xl: 2rem; // 32px
$spacing-3xl: 2.5rem; // 40px
$spacing-4xl: 3rem; // 48px
$spacing-5xl: 4rem; // 64px
$spacing-6xl: 5rem; // 80px
$spacing-7xl: 6rem; // 96px
$spacing-8xl: 7rem; // 112px

/*===== Font Size =====*/
$font-text-xs: 0.75rem; //12px
$font-text-sm: 0.875rem; // 14px
$font-text-md: 1rem; // 16px
$font-text-lg: 1.125rem; // 18px
$font-text-xl: 1.25rem; // 20px
$font-heading-xs: 1.5rem; // 24px
$font-heading-sm: 1.75rem; // 28px
$font-heading-md: 2rem; // 32px
$font-heading-lg: 2.5rem; // 40px
$font-heading-xl: 3rem; // 48px

/*===== Line Height =====*/
$line-text-xs: 1rem; // 16px
$line-text-sm: 1.25rem; // 20px
$line-text-md: 1.5rem; // 24px
$line-text-lg: 1.75rem; // 28px
$line-text-xl: 1.75rem; // 28px
$line-heading-xs: 2rem; // 32px
$line-heading-sm: 2rem; // 32px
$line-heading-md: 2.25rem; // 36px
$line-heading-lg: 1;
$line-heading-xl: 1;

/*===== Border Radious =====*/
$radious-md: .25rem;
$radious-lg: .5rem;
$radious-xl: 1rem;
$radious-full: 50%;

/*===== Media =====*/
$media-sm: 424px;
$media-md: 767px;
$media-lg: 1023px;
$media-xl: 1439px;
 