@import './variables';


/*==================== 
    Home Section
====================*/
.home {
    padding: $spacing-7xl 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-3xl;

    .mainIllustration {
        width: 350px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        align-items: center;

        h1 {
            font-size: $font-heading-lg;
            line-height: $line-heading-lg;
            font-weight: 700;
            color: var(--purple-400);
        }
    
        strong {
            font-size: $font-heading-md;
            line-height: $line-heading-md;
        }
    }
}

// Media querys
@media (max-width: $media-sm) {
    .home {
        .mainIllustration {
            width: 250px;
        }

        .textContainer {
            h1 {
                font-size: $font-heading-sm;
                line-height: $line-heading-sm;
            }
    
            strong {
                font-size: $font-heading-xs;
                line-height: $line-heading-xs;
            }
        }
    }
}
@media (min-width: $media-md) {
    .home {
        .mainIllustration {
            width: 650px;
        }

        .textContainer {
            h1 {
                font-size: $font-heading-xl;
                line-height: $line-heading-xl;
            }
    
            strong {
                font-size: $font-heading-md;
                line-height: $line-heading-md;
            }
        }
    }
}
@media (min-width: $media-lg) {
        .home {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: unset;

            .mainIllustration {
                width: 550px;
            }
        }
}
@media (min-width: $media-xl) {
        .home {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: $spacing-3xl;
        }
}




/*==================== 
    Projects Section
====================*/
.projects {
    padding: $spacing-2xl 0;

    background-color: var(--gray-100);

    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-xl;
        margin-bottom: $spacing-xl;

        .projectsWrapper {
            text-align: center;

            h2 {
                font-size: $font-heading-md;
                line-height: $line-heading-md;
                margin-bottom: $spacing-xl;
            }

            img {
                width: 350px;
            }
        }

        .carouselWrapper {
            display: flex;
            flex-direction: column;
            gap: $spacing-xl;
            align-self: flex-start;
        }   
    }

    .mitContainer {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: $spacing-xl;

        img {
            align-self: center;
            width: 350px;
        }

        &:last-child {
            align-self: flex-start;
        }
    }
}


/*==================== 
    About Section
====================*/
.about {
    padding-top: $spacing-2xl;
    padding-bottom: $spacing-2xl;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;

    h2 {
        font-size: $font-heading-md;
        line-height: $line-heading-md;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;

    
        img {
            width: 350px;
            align-self: center;
        }
    
        .aboutWrapper {
            display: flex;
            flex-direction: column;
            gap: $spacing-2xl;
    
            .skillsWrapper {
                display: flex;
                flex-direction: column;
                gap: $spacing-lg;
    
                h3 {
                    font-size: $font-text-lg;
                    line-height: $line-text-lg;
                    font-weight: 600;
                }
    
                img {
                    width: 24px;
                }
    
                ul:nth-child(2) {
                    img {
                        width: 32px;
                    }
                }
    
                ul {
                    display: flex;
                    gap: $spacing-xl;
                    align-items: center;
    
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        span {
                            font-size: $font-text-xs;
                            line-height: $line-text-xs;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
// Media querys
@media (max-width: $media-sm) {
    .about {
        h2 {
            font-size: $font-heading-xs;
            line-height: $line-heading-xs;
        }

        .aboutContainer {
            img {
                width: 250px;
            }

            .aboutWrapper {
                p {
                    font-size: $font-text-sm;
                    line-height: $line-text-sm;
                }
    
                .skillsWrapper {
                    h3 {
                        font-size: $font-text-md;
                        line-height: $line-text-md;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
@media (min-width: $media-md) {
    .about {
        .aboutContainer {
            .aboutWrapper {
                .skillsWrapper {
                    align-items: center;
                }
            }
        }
    }
}
@media (min-width: $media-lg) {
    .about {
        .aboutContainer {
            flex-direction: row;

            img {
                width: 40%;
            }
        }
    }
}