@import './variables';

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-3xl;

    h2 {
        font-size: $font-heading-md;
        line-height: $line-heading-md;
    }

    .imageContainer {
        width: 75%;
    }
}


// Media querys
@media (max-width: $media-sm) {
    .container {
        h2 {
            font-size: $font-heading-xs;
            line-height: $line-heading-xs;
        }
    }
}
@media (min-width: $media-md) {
    .container {
        h2 {
            font-size: $font-heading-lg;
            line-height: $line-heading-lg;
        }
        .imageContainer {
            width: 50%;
        }
    }
}
